<!-- Homepage Template -->
<div class="homepage">
  <!-- Hero Banner Section -->
  {% section 'hero-banner' %}
  
  <!-- Book Categories Section -->
  {% section 'book-categories' %}
  
  <!-- Discount Signup Section -->
  {% section 'discount-signup' %}
  
  <!-- Testimonials Section -->
  {% section 'testimonials' %}
  
  <!-- CTA Footer Section -->
  {% section 'cta-footer' %}
</div> 